<?xml version="1.0" encoding="utf-8"?>
<e107Plugin name="Multiple Sites" lan="" version="1.0" date="2017-02-08" compatibility="2.0" installRequired="false" >
	<author name="CaMer0n" url="https://e107.org" />
	<summary lan="">Use one e107 installation to drive multiple websites</summary>
	<description lan="">Allows for easy switching of e107 databases based on domain or url.</description>
	<keywords>
		<word>enhancement</word>
		<word>multiple</word>
		<word>database</word>
	</keywords>
	<category>manage</category>
	<copyright></copyright>
	<adminLinks>
		<link url="admin_config.php" description="" icon="" iconSmall="" icon128="" primary="true" >LAN_CONFIGURE</link>
	</adminLinks>
	<pluginPrefs>
		<pref name='Active'>1</pref>
	</pluginPrefs>
</e107Plugin>